<div class="white-text right texto">
  <h3>Nossa Historia</h3>
  <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus semper erat nec hendrerit. Donec fringilla mollis leo vitae ullamcorper. Aliquam in commodo lectus, nec eleifend leo. Vivamus sollicitudin iaculis libero, eu rhoncus massa rhoncus vel. In et gravida turpis. Fusce ac mi quis enim finibus congue nec a metus. Donec urna erat, pulvinar quis nisi at, mattis aliquam neque. Nunc condimentum porttitor fermentum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus semper erat nec hendrerit. Donec fringilla mollis leo vitae ullamcorper. Aliquam in commodo lectus, nec eleifend leo. Vivamus sollicitudin iaculis libero, eu rhoncus massa rhoncus vel. In et gravida turpis. Fusce ac mi quis enim finibus congue nec a metus. Donec urna erat, pulvinar quis nisi at, mattis aliquam neque. Nunc condimentum porttitor fermentum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus semper erat nec hendrerit. Donec fringilla mollis leo vitae ullamcorper. Aliquam in commodo lectus, nec eleifend leo. Vivamus sollicitudin iaculis libero, eu rhoncus massa rhoncus vel. In et gravida turpis. Fusce ac mi quis enim finibus congue nec a metus. Donec urna erat, pulvinar quis nisi at, mattis aliquam neque. Nunc condimentum porttitor fermentum.
  </h5>
</div>

      
<div class="row white flutue desenvolvimento ">
<div class= "container">

  <div class="col l4">
      <h4>Rhana Gomes</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus semper erat nec hendrerit. Donec fringilla mollis leo vitae ullamcorper. Aliquam in commodo lectus, nec eleifend leo. 
      </p>
  </div>
  <div class="col l4">
      <h4>Rafael Silva</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus semper erat nec hendrerit. Donec fringilla mollis leo vitae ullamcorper. Aliquam in commodo lectus, nec eleifend leo. 
      </p>
  </div>
  <div class="col l4">
      <h4>Paulo Cesar</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus semper erat nec hendrerit. Donec fringilla mollis leo vitae ullamcorper. Aliquam in commodo lectus, nec eleifend leo.
      </p> 
  </div>
          
</div>
</div>