<nav class=" transparent z-depth-0" id="inicio">
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo "><h1>Chocolate</h1></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/home"><h5>Home</h5></a></li>
          <li><a routerLink="/sobrenos"><h5>Sobre nós</h5></a></li>
          <li><a routerLink="/produto"><h5>Produto</h5></a></li>
          <li class="active"><a routerLink="/contato"><h5>Contato</h5></a></li>
      </ul>
  </div>
</nav>