<footer class="page-footer transparent z-depth-5">
  <div class="container">
      <div class="row">
          <div class="col l4">
              <a class="grey-text text-lighten-5" href="https://www.google.com/maps"><img class="mapa" src="/assets/redes-sociais/map-location.svg"></a>
              <span class="black-text mapa-texto">Rio de Janeiro-RJ</span>                    
          </div>
          <div class=" col l8">
              <a class="grey-text text-lighten-5" href="https://www.facebook.com/"> <img class="icone" src="/assets/redes-sociais/facebook.svg"></a> 
              <a class="grey-text text-lighten-5" href="https://www.instagram.com/?hl=pt-br"> <img class="icone" src="/assets/redes-sociais/instagram.svg"></a> 
              <a class="grey-text text-lighten-5" href="https://br.pinterest.com/"> <img class="icone" src="/assets/redes-sociais/pinterest.svg"></a> 
              <a class="grey-text text-lighten-5" href="https://twitter.com/"> <img class="icone" src="/assets/redes-sociais/twitter.svg"></a> 
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container black-text">
          © 2019 
      </div>
  </div>
</footer>
